<h1 class="text-center">Movies</h1>

<%= form_with url: movies_path, method: :get, class: "mb-3" do %>
  <div class="input-group">
    <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search movies..." %>
    <button class="btn btn-primary">Search</button>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title"><%= movie.title %></h5>
          <p class="card-text">Genre: <%= movie.genre %></p>
          <%= link_to "View Details", movie_path(movie), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Add New Movie", new_movie_path, class: "btn btn-success" %>
